.button {
  height: 60px;
  width: 200px;
  background-color: #06090c;
  border: 2px solid rgb(182, 128, 128);
  color: #eee;
  transition: 0.6s;
  font-size: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  overflow: hidden;
  cursor: pointer;
}

.button span {
  transform: translateX(10px);
  transition: 0.5s;
}

.button svg {
  transform: translateX(-300px);
  transition: 0.6s;
  z-index: 3;
  height: 20px;
}

.button:hover {
  width: 60px;
  background-color: rgba(51, 34, 51, 0.815);
  box-shadow: 20px 20px 96px #bebebe, -20px -20px 96px #ffffff;
}

.button:hover svg {
  transform: translateX(-5px);
}

.button:hover span {
  transform: translateY(70px);
  font-size: 0.1rem;
}
