.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  /* z-index: 999; */
  background: #ffffff;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
  /* align-items: center;
  justify-content: center; */
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  /* border: 2px solid black; */
  /* scale: 0.8; */
  left: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
  overflow: hidden;
}
.slider .list .item img {
  width: 100%;
  /* height: 100%; */
  background-position: center;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
